/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.custom-control-label::before,
.custom-control-label::after {
  //top: 0.8rem;
  width: 2rem;
  height: 2rem;
}

form.registration {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
