header {
  padding-top: 18px;
  padding-bottom: 18px;
  position: relative;
  z-index: 1;

  &:not(.menu) {
    box-shadow: 0 0 34px -14px black;
  }

  &.menu {
    background-color: map-get($theme-colors, primary);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    overflow-y: scroll;
    z-index: 10;

    *,
    p,
    .btn {
      color: white;
    }

    .btn {
      border-color: white;
    }
  }

  @include media-breakpoint-up(md) {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  #logo img.site-logo {
    width: 100px;

    @include media-breakpoint-up(md) {
      width: 150px;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .bg-floral {
    padding-top: 72px !important;
  }

  .menu-toggler,
  .navbar-toggler {
    padding: 0;
    border: none;
    margin-top: 2px;
  }

  nav {
    position: relative;
  }

  button.menu-toggler,
  button.navbar-toggler,
  div.contact {
    position: absolute;
  }

  button.menu-toggler,
  button.navbar-toggler {
    left: 0;
    margin-left: 21px;

    @include media-breakpoint-up(md) {
      margin-left: 42px;
    }
  }

  div.contact {
    right: 0;
    margin-right: 42px;
    display: flex;
    align-items: center;

    button.btn.btn-outline-primary {
      margin-right: 16px;
    }
  }

  .menu-toggler-icon,
  .navbar-toggler-icon {
    // background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)");
    //background-image: url("../images/menu_hamburger.svg") !important;
    width: 35px;
    height: 30px;
    background-size: 35px 30px;
    display: block;

    @include media-breakpoint-up(md) {
      width: 55px;
      height: 50px;
      background-size: 55px 50px;
    }
  }

  .navbar-toggler-icon {
    background-image: url("../images/menu_hamburger.svg") !important;
  }

  .menu-toggler-icon {
    background-image: url("../images/menu_x.svg") !important;
  }

  a.tel {
    text-transform: uppercase;
    font: $font-family-condensed !important;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 10px 0;
    color: map-get($theme-colors, primary) !important;
    //margin-right: 42px;

    @include media-breakpoint-up(lg) {
      font-size: 1rem;
      padding: 6px 0;
    }
  }
}

div.full-menu {
  padding-top: 140px;
  padding-bottom: 140px;

  .menu-items {
    margin-bottom: 44px;
  }

  p {
    font-size: 21px;
    line-height: 25px;
    color: map-get($theme-colors, dark) !important;
    font-weight: 700;

    a {
      color: map-get($theme-colors, dark) !important;
    }
  }

  ul {
    padding-left: 0;
    list-style-type: none;

    li {
      padding: 8px 0;
      border-bottom: 1px solid white;

      > a {
        font-size: 36px;
        line-height: 43px;
        font-weight: 700;
      }
    }
  }
}

.banner .nav li {
  @extend .nav-item;
}

div.full-menu li:last-of-type {
  border-bottom: none;
}

.banner .nav a {
  @extend .nav-link;
}
