// body {
//   background: url("../images/eden_identity_pattern.jpg");
// }
.bg-primary,
.bg-secondary {
  * {
    color: $white;
  }
}

.color-primary {
  color: map-get($theme-colors, primary);
}

.bg-primary {
  background-color: map-get($theme-colors, primary);
}

.bg-secondary {
  background-color: map-get($theme-colors, secondary);

  * {
    color: map-get($theme-colors, dark);
  }
}

.bg-white {
  background-color: white !important;
}

.bg-floral {
  background: url("../images/pattern__floral--crop.svg");
  background-size: cover;
}

.col-padded-xl {
  padding: 4rem 5.2rem !important;
}

@include media-breakpoint-down(md) {
  .container-fluid-md-down {
    max-width: none;
  }
}

// Type
h1.eden-display-1,
h2.eden-display-1,
h3.eden-display-1 {
  font-family: $font-family-serif;
  color: map-get($theme-colors, dark);
  font-size: 30px;
  line-height: 36px;

  @include media-breakpoint-up(md) {
    font-size: 60px;
    line-height: 72px;
  }
}

.eden-copy-1,
p.eden-copy-1,
div.eden-copy-1 p {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 2rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.row-cta {
  padding-top: 3.8rem;
  padding-bottom: 3.8rem;
}

.t-uppercase {
  text-transform: uppercase;
}

[class*="col-eden"] {
  padding-left: 15px;
  padding-right: 15px;

  @include media-breakpoint-up(lg) {
    .col-eden-lg-4 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  }
}
