// body {
//   background: url("../images/eden_identity_pattern.jpg");
// }
body {
  position: relative;

  &.no-scroll {
    overflow: hidden !important;
  }
}

.bg-primary,
.bg-secondary {
  * {
    color: $white;
  }
}

.color-primary {
  color: map-get($theme-colors, primary);
}

.bg-primary {
  background-color: map-get($theme-colors, primary);

  p,
  strong {
    color: white !important;
  }
}

.bg-secondary {
  background-color: map-get($theme-colors, secondary);

  * {
    color: map-get($theme-colors, dark);
  }
}

.bg-white {
  background-color: white !important;
}

.bg-floral {
  background: url("../images/pattern__floral--crop.svg");
  background-size: cover;
}

.col-padded-xl {
  padding: 2rem 1.2rem !important;

  @include media-breakpoint-up(lg) {
    padding: 4rem 5.2rem !important;
  }

  // @include media-breakpoint-up(lg) {
  //   padding: 2.5rem 1.5rem !important;
  // }
}

@include media-breakpoint-down(md) {
  .container-fluid-md-down {
    max-width: none;
  }
}

// Type
h1.eden-display-1,
h2.eden-display-1,
h3.eden-display-1 {
  font-family: $font-family-serif;
  color: map-get($theme-colors, dark);
  font-size: 30px;
  line-height: 36px;

  @include media-breakpoint-up(md) {
    font-size: 60px;
    line-height: 72px;
  }

  // @include media-breakpoint-up(lg) {
  //   font-size: 46px;
  //   line-height: 58px;
  // }
}

.eden-copy-sm,
p.eden-copy-sm,
div.eden-copy-sm p {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 2rem;

  // @include media-breakpoint-up(lg) {
  //   font-size: 16px;
  //   line-height: 20px;
  // }
}

.eden-copy-lg,
p.eden-copy-lg,
div.eden-copy-lg p {
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 2rem;

  // @include media-breakpoint-up(lg) {
  //   font-size: 36px;
  //   line-height: 30px;
  // }
}

.eden-copy-lg,
p.eden-copy-lg,
div.eden-copy-lg p,
.eden-copy-sm,
p.eden-copy-sm,
div.eden-copy-sm p {
  &:last-of-type {
    margin-bottom: 0;
  }
}

.row-cta {
  padding-top: 3.8rem;
  padding-bottom: 3.8rem;
}

.t-uppercase {
  text-transform: uppercase;
}

[class*="col-eden"] {
  padding-left: 15px;
  padding-right: 15px;

  @include media-breakpoint-up(md) {
    &.col-eden-md-6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  @include media-breakpoint-up(lg) {
    &.col-eden-lg-4 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  }
}

// @include media-breakpoint-up(lg) {
//   .container {
//     max-width: 988px !important;
//   }
// }

.px-sm-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;

  @include media-breakpoint-up(lg) {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
