/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #40c0c0,
  secondary: #b0dfe1,
  dark: #003c5b
);

$font-family-sans-serif: "Barlow", sans-serif;
$font-family-serif: "Playfair Display", serif;
$font-family-condensed: "Barlow Condensed", sans-serif;

.btn {
  font-family: $font-family-condensed;

  &.btn-primary {
    color: white;
  }
}

.t-condensed {
  font-family: $font-family-condensed !important;
}

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
